.navigatorBarContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 2.5rem;

    background: var(--gray-line);
}

.navigatorBarContainer span {
    font-size: large;

    font-weight: 500;
}

.navigatorBarContainer span, input{
    padding: 0 .7rem;
}

.navigatorBarContainer nav a, input {
    margin-left: 1rem;
}

.navigatorBarContainer nav a {
    text-transform: uppercase;

    font-size: .85rem;
}

.navigatorBarContainer input {
    border: transparent;
    border-radius: .5rem;
}

.hamburguerBt {
    position: fixed;
    right: 0;
    z-index: 2;

    cursor: pointer;

    height: 1.1rem;
    width: 1.2rem;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin-right: 1rem;
}

.hamburguerBt > div{
    width: 100%;
    height: 20%;

    background: var(--text);

    border-radius: 25%;

    transition: .5s ease-out;
}

.hamburguerBt.active div:nth-child(1){
    transform: translateY(.5rem) rotate(-317deg);
}

.hamburguerBt.active div:nth-child(2){
    opacity: 0;
}

.hamburguerBt.active div:nth-child(3){
    transform: translateY(-.43rem) rotate(317deg);
}

@media screen and (max-width: 600px) {
    .hamburguerBt {
        display: flex;
    }

    .navigatorBarContainer nav {
        display: none;
    }

    .navigatorBarContainer {
        justify-content: space-between;
    }

    .hamburguerBt.active div{
        background: var(--white);
    }

    .hamburguerBt.active + nav {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;

        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100vh;

        background: rgba(0, 0, 0, .5);
    }

    .hamburguerBt.active + nav a {
        margin: 3rem 0;

        color: var(--white);
    }
}
