.card {
    height: 350px;

    background-color: white;
    padding: 25px;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    flex: 1 1 220px;
    margin: 12px 10px;
}

.content-card p{
    margin: 25px 0;
}

.card:hover{
    transform: translateY(-5px);
}

.button{
    width: 70%;
    margin: 0 auto;

    padding: 10px;
    border: none;

    border-radius: 10px;
    background-color: rgb(247, 247, 247);
}

.button:hover{
    background-color: rgb(197, 197, 197);    
}


