.footer{
    height: 55px;
    width: 100%;

    position: fixed;
    bottom: 0;
    z-index: 999;

    background-color: rgb(197, 197, 197);
    
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: space-around;
}