.header{
  background-color: rgb(197, 197, 197);
  align-content: center;

}

.nav{
  max-width: 1080px;
  height: 72px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
    
}

.nav ul{
  display: flex;
  text-transform: uppercase;
  align-items: center;
}

.nav ul li > a {
  padding: 10px;
  margin-right: 15px;
  color: black;

}

.nav ul li > input {
  width: 220px;
  height: 30px;

  border-radius: 25px;
  border: none;

  font-size: 1.2em;
}
